/* Fondo general */
.root {
    -fx-background-color: #2b2b2b;
}

/* Pane principal con bordes visibles */
#pMajor {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #8b0000;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    
    /* Asegurar que los bordes no afecten los hijos */
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 3, 3);
}

/* Estilos de los campos de texto */
TextField, PasswordField {
	 -fx-border-color: #ff3333; /* Un rojo m�s vibrante */
    -fx-background-color: #2b2b2b;
    -fx-border-width: 2px;
  
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;

    
    -fx-background-radius: 15;
    -fx-border-radius: 15;

  
   
}

/* Botones */
Button {
    -fx-background-color: linear-gradient(to bottom, #ff3333, #8b0000);
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Cambria;
    
    -fx-border-color: red;
    -fx-border-width: 2px;
    
    -fx-background-radius: 100;
    -fx-border-radius: 30;
}

/* Efecto hover en botones */
Button:hover {
    -fx-background-color: linear-gradient(to bottom, #ff6666, #b30000);
    -fx-background-color: darkred;
}

ImageView {
    -fx-translate-y: 3px;
}
#pM {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #8b0000;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    
    /* Asegurar que los bordes no afecten los hijos */
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 3, 3);
}


    /* ////////////////////////////////////////////// Market ///////////////////////////////////////////  */
.search-box{
    -fx-background-color:black;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: black;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #ffff;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}



